body {
	background-color: #000000;
	text-align:center;
}


div#contenedor {
    display: flex;
    flex-direction: column;
	width: 100%;	
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
}



header {
    display:flex;
    flex-direction: row;         /*elementos en fila*/
    justify-content: space-between;      /*con espacio entre ellos y los bordes*/
    align-items: first baseline;
	padding: 30px;
	height: 60px;
	background-color: #b79af2;
}



/*letras del header*/
header a, header a:visited {
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;
} 
/*enlaces del header*/
header a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
} 





main {
	padding: 20px;
	min-height: 600px;
    box-sizing: border-box;
	width: 100%; /*ocupa el 100% del contenedor*/
	background-color: white;
	text-align:center;
}


h1{ /*todos los titulos en el centro*/
	text-align:center;
}


div.saludo {
	width: 100%;
	text-align: right;
}


fieldset {
	border: 1px solid black;
	margin: auto;
	padding: 20px;	/*margen*/
	width:fit-content;
	align-items:center
}

fieldset div {
	justify-content: center;
	margin: 10px auto;
	align-items: flex-end;
	
}

legend {
	color: #000000;
	background: #b79af2;
	border: 1px solid black;
	padding: 2px 6px;
	text-align: center;
} 



/*formulario de login*/
fieldset.formularioLog{	
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap:wrap;
	padding: 20px;	/*margen*/
}

/*etiquetas al lado del nombre en forms*/
label {
	margin-right: 0.5em;
	display: inline;
}


/*//////////////////TABLAS///////////////////////////////////////*/
table {
    width: 100%;
    background-color: white;
}
/*encabezados*/
th {
    background-color: #329fa8;
    color: white;
    text-align: center;
    padding: 10px;
}
/*celdas*/
td {
    padding: 12px 15px;
}
.acciones a {
    text-decoration: none;
    margin-right: 10px;
}
/*estilo del enlace de eliminar*/
.eliminar { color: #e74c3c; }

.acciones a:hover {
    text-decoration: underline;
}
/*//////////////////////////////////////////////////////////////*/

a.btn-volver{
	position: absolute;
	left: 75px;
}



footer {
	clear: both;
	padding: 20px;
	background-color: #329fa8;
	color: white;
	text-align: center;
}